body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  color: red;
}

.input {
  border: black solid 2px;
  width: 300px;
  margin-right: 5px;
}

.output {
  border: black solid 2px;
  height: 300px;
  width: 300px;
  margin-top: 5px;
  overflow: auto;
}

.container {
  margin-top: 100px;
  margin-left: 500px;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  background-color: gray;
}

.nav {
  display: flex;
  justify-content: center;
}

.li {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

h1 {
  text-align: center;
}
