body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  color: blue;
}

.input {
  border-color: blue;
  width: 30%;
  margin-right: 5px;
}

.output {
  border-style: solid;
  border-color: blue;
  height: 300px;
  width: 30%;
  margin-top: 5px;
  overflow: auto;
}

.container {
  margin-left: 30px;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}
